# Local environment files
.env

# Virtual Environment files
venv/

# Python bytecode and test caches
__pycache__/
*.py[cod]



# Local app settings
quiz_settings.json

# Google OAuth application/user credentials
google_oauth_client.json
google_token.json
token.json
credentials.json

#release zip files
*.zip

#do not upload all vendor files from poppler and tesseract
vendor/

#keep vendor read me and documentation
!vendor/tesseract/doc/*
!vendor/poppler/docs/*
~$SAMPLE.xlsx
